*{margin:0;padding:0;box-sizing:border-box}
body{font-family:Arial,sans-serif;background-color:#fff;color:#333;line-height:1.6;margin:0;padding:0;animation:fadeIn .7s ease-in}
@keyframes fadeIn{
0%{opacity:0}
100%{opacity:1}
}
@keyframes fadeDown{
from{opacity:0;transform:translateY(-20px) scale(.9)}
to{opacity:1;transform:translateY(0) scale(1)}
}
.announcement-bar{background-color:#110f2f;color:#fff;text-align:center;padding:4.5px 0;font-size:16px;display:flex;align-items:center;animation:fadeDown .3s ease-in forwards}
.announcement-bar .wrapper{display:flex;flex-direction:row;gap:50px;margin-left:50px}
.announcement-bar p{margin-left:400px}
@keyframes fadeDown{
from{opacity:0;transform:translateY(-20px) scale(.9)}
to{opacity:1;transform:translateY(0) scale(1)}
}
header{background-color:#fff;color:#333;text-align:center;padding:20px 0;display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap;animation:fadeDown .4s ease-in forwards}
.logo{text-align:center}
.logo img{max-width:130px}
.video-container{position:relative;width:100%;max-width:1550px;overflow:hidden;height:550px;margin-top:20px;height:100%;object-fit:cover}
.user-dropdown{position:relative;display:inline-block;margin-left:20px}
.user-dropdown .dropdown-content{display:none;position:absolute;background-color:#2f345c;min-width:100px;box-shadow:0 8px 16px 0 rgba(0,0,0,.2);z-index:1;border-radius:5px}
.user-dropdown .dropdown-content a{color:#fff;padding:12px 16px;text-decoration:none;display:block;font-family:Cinzel,serif}
.user-dropdown .dropdown-content a:hover{background-color:#2a4d7e}
.user-dropdown:hover .dropdown-content{display:block}
.right-menu{display:flex}
.right-menu a{text-decoration:none;background-color:#2f345c;display:inline-block;border-radius:5px;font-family:'Trebuchet MS',sans-serif;padding:5px 10px;color:#fff}
.right-menu a:hover{transition:background-color .3s;background-color:#2a4d7e}
.fa-user{font-size:x-large;color:#fff;margin-top:-60px;margin-left:50px}
@media (max-width:768px){
.right-menu a{display:none}
.fa-user{color:#000}
}
h1{font-size:2rem;font-family:Cambria,'Times New Roman',serif}
.bar input,.search-btn,.search-btn:after,.search-btn:before{transition:all .25s ease-out}
.bar input,.search-btn{width:3em;height:3em}
.bar input:invalid:not(:focus),.search-btn{cursor:pointer}
.bar,.bar input:focus,.bar input:valid{width:100%}
.bar input:focus,.bar input:not(:focus)+.search-btn:focus{outline:transparent}
.bar{margin:auto;padding:1.5em;justify-content:center;max-width:30em}
.bar input{background:0 0;border-radius:1.5em;box-shadow:0 0 0 .4em #171717 inset;padding:.75em;transform:translate(.5em,.5em) scale(.5);transform-origin:100% 0;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.bar input::-webkit-search-decoration{-webkit-appearance:none}
.bar input:focus,.bar input:valid{background:#fff;border-radius:.375em 0 0 .375em;box-shadow:0 0 0 .1em #d9d9d9 inset;transform:scale(1)}
.search-btn{background:#171717;border-radius:0 .75em .75em 0/0 1.5em 1.5em 0;padding:.75em;position:relative;transform:translate(.25em,.25em) rotate(45deg) scale(.25,.125);transform-origin:0 50%}
.search-btn:after,.search-btn:before{content:"";display:block;opacity:0;position:absolute}
.search-btn:before{border-radius:50%;box-shadow:0 0 0 .2em #f1f1f1 inset;top:.75em;left:.75em;width:1.2em;height:1.2em}
.search-btn:after{background:#f1f1f1;border-radius:0 .25em .25em 0;top:51%;left:51%;width:.75em;height:.25em;transform:translate(.2em,0) rotate(45deg);transform-origin:0 50%}
.search-btn span{display:inline-block;overflow:hidden;width:1px;height:1px}
.bar input:focus+.search-btn,.bar input:valid+.search-btn{background:#7e7e7e;border-radius:0 .375em .375em 0;transform:scale(1)}
.bar input:focus+.search-btn:after,.bar input:focus+.search-btn:before,.bar input:valid+.search-btn:after,.bar input:valid+.search-btn:before{opacity:1}
.bar input:focus+.search-btn:hover,.bar input:valid+.search-btn:hover,.bar input:valid:not(:focus)+.search-btn:focus{background:#7e7e7e}
.bar input:focus+.search-btn:active,.bar input:valid+.search-btn:active{transform:translateY(1px)}
@media screen and (prefers-color-scheme:dark){
body,input{color:#f1f1f1}
body{background:#fff}
.bar input{box-shadow:0 0 0 .4em #f1f1f1 inset}
.bar input:focus,.bar input:valid{background:#3d3d3d;box-shadow:0 0 0 .1em #3d3d3d inset}
.search-btn{background:#f1f1f1}
}
@media screen and (max-width:768px){
.header{flex-direction:column;align-items:center}
.logo{margin:0}
.right-menu{margin-top:10px;display:flex;flex-direction:column;align-items:center}
.search-container{margin-top:10px}
}
nav{background-color:#fff;color:#fff;text-align:center;padding:12px 0;display:flex;justify-content:center;align-items:center;max-width:1500px;margin:0 auto}
nav ul{list-style:none;display:flex;justify-content:center;margin-top:0;padding:0;font-family:Cambria,Cochin,Georgia,Times,'Times New Roman',serif}
nav ul li{margin-right:20px}
nav a{text-decoration:none;color:#000;font-size:1.2rem;transition:font-size .3s;font-family:'Poiret One',cursive;font-weight:700}
nav a:hover{transition:.2s;font-size:1.35rem;text-decoration:underline}
@media screen and (max-width:586px){
nav ul{flex-direction:column;align-items:center}
nav ul li{margin:10px 0}
}
main{display:flex;justify-content:center;align-items:center;height:100vh;background-color:#fff}
@keyframes fadeUp{
from{opacity:0;transform:translateY(30px)}
to{opacity:1;transform:translateY(0)}
}
.product-detail{display:grid;grid-template-columns:1fr 1fr;max-width:1200px;background-color:#fff;border-radius:10px;box-shadow:0 0 0 rgba(0,0,0,0);padding:20px;align-items:start;margin:20px;margin-top:100px;animation:fadeUp .3s ease-in forwards}
.product-detail img{max-width:600px;animation:fadeUp .3s ease-in forwards;border-radius:5px}
@keyframes fadeUp{
from{opacity:0;transform:translateY(30px)}
to{opacity:1;transform:translateY(0)}
}
.product-detail .product-info{display:flex;flex-direction:column}
.product-detail h1{font-size:32px;margin-top:20px}
.product-detail .price{font-size:28px;color:#131525;margin:10px 0;margin-top:30px;font-family:Cambria,Cochin,Georgia,Times,'Times New Roman',serif;font-weight:700}
.product-detail .buy-button{background-color:#181b2f;color:#fff;border:none;border-radius:5px;padding:10px 20px;font-size:16px;cursor:pointer;margin:10px 0;margin-top:50px;transition:background-color .3s}
.product-detail .buy-button:hover{background-color:#2f435f}
.size-buttons{display:flex;gap:10px;margin-top:3px}
.size-radio{display:none}
.size-label{background-color:#fff;color:#000;border:2px solid #d6d6d6;border-radius:2.5px;padding:15px 20px;font-size:16px;cursor:pointer;font-weight:400;transition:background-color .3s;margin-top:20px}
.size-radio:checked+.size-label{background-color:#e9ebee;border-color:#919191;font-weight:700}
.size-label:hover{background-color:#f0f0f0}
.product-detail p{font-size:16px;margin-top:30px}
.product-detail p:nth-child(4),.product-detail p:nth-child(5){font-weight:700}
.product-detail p:last-child{margin-bottom:0}
::-webkit-scrollbar{width:10px}
::-webkit-scrollbar-thumb{background:0 0;border-radius:5px}
::-webkit-scrollbar-thumb:hover{background:rgba(0,0,0,.2)}
footer{background-color:#333;color:#fff;text-align:center;padding:1rem 0;margin-top:200px}
.footer-content{display:flex;justify-content:space-between;align-items:center}
.footer-links a{color:#fff;text-decoration:none;margin-right:10px}
@media (max-width:768px){
main{flex-direction:column}
.product{margin:.5rem 0}
}